<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Headshots</a></li>
  <li role="presentation"><a href="#">Weddings</a></li>
  <li role="presentation"><a href="#">People</a></li>
  <li role="presentation"><a href="#">Animals</a></li>
  <li role="presentation"><a href="#">Objects</a></li>
  <li role="presentation"><a href="#">World</a></li>
</ul>
